
.projects {
  display: flex;
  width: 100%;
  &_nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 200px;
    margin: 5px;
  }

  &_tab {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border-radius: 10px;

  }
  &_tab:hover {
    background-color: #0799d3;
    transition: 0.5s;
    color: #FFF;
  }
  &_content {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}


