html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Girloy, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding:  1.5% 10% 1.5% 10%;
  justify-content: space-between;
  background-color: #06799F;
  align-items: center;
}

.header_logo{
  font-weight: 600;
  color: #FFF;
}

.header_button {
  transition: 0.5s;
  background-color: #61B4CF;
  border: none;
  color: #FFF;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
}

.header_button:hover {
  transition: 0.5s;
  background-color: #00AF64;
  border: none;
  color: #FFF;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

