html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Girloy, sans-serif;

  overflow-x: hidden;
}

.wrapper {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.loader {
  margin-top: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-img {
  width: 60vw;
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: -1;
}


.request {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 100px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.main_block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00AF64;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 50px;
}

.main_img {
  border: #00AF64;
  width: 250px;
  height: 250px;

}




