html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Girloy, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding:  0 10% 0 10%;
  height: 10vh;
  justify-content: space-between;
  background-color: #0E53A7;
  align-items: center;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
}

.header_logo{
  font-weight: 600;
  color: #FFF;
  cursor: pointer;
}

.header_button {
  transition: 0.5s;
  background-color: #4284D3;
  border: none;
  color: #FFF;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  cursor: pointer;
}

.header_button:hover {
  transition: 0.5s;
  background-color: #00AF64;
  border: none;
  color: #FFF;
  border-radius: 5px;
  width: 150px;
  height: 30px;
}

.request {
  display: flex;
  justify-content: left;
  flex-direction: column;
  margin: 100px;
}

