.header {
  display: flex;
  height: 10vh;
  background-color: #FFFFFF;
  margin-top: 10px;
  align-items: center;

  &_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10vh;
    &-logo {
      transition: 1.5s ease-in;
      font-size: 35px;
      font-weight: 600;
      color: #0799d3;
      cursor: pointer;
      margin-left: 5vw;
    }
    &-logo:hover {
      transition: 1.5s ease-out;
      color: #00AF64;
      //filter: invert(15%) sepia(99%) saturate(2822%) hue-rotate(205deg) brightness(98%) contrast(89%);
    }
  }

  &_button {
    font-size: 9px;
    font-weight: 800;
    transition: 0.5s;
    background-color: #00AF64;
    border: none;
    color: #FFF;
    border-radius: 5px;
    width: 80px;
    height: 25px;
    -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &_button:hover {
    transition: 0.5s;
    background-color: #4284D3;
  }

  &_button--menu {
    position: absolute;
    display: flex;
    align-items: center;
  }
}
