.menu_close {
  z-index: 2;
  position: absolute;
  transition: 0.6s ease-in;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: #eaeaea;
}
.menu_open {
  transition: 0.6s ease-out;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 12vw;
  height: 100vh;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
}