.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_close {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 2;
    position: absolute;
    transition: 0.6s ease-out;
    transition-delay: 0.5s;
    top: 0;
    right: -150px;
    width: 0;
    height: 100vh;
    padding-top: 100px;
    background-color: #eaeaea;
  }
  &_open {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: width 0.6s ease-out;
    transition-delay: 0.4s;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 12vw;
    height: 100vh;
    padding-top: 15px;
    background-color: #eaeaea;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.57);
  }
}

.menu_item {
  display: flex;
  justify-content: center;
  width: 10vw;
  border-radius: 10px;
  opacity: 0;
  transition: 0.6s;
  &.sign-in {
    background-color: #00AF64;
  }

  width: 10vw;
  &-img{
    color: red;
    width: 30px;
    margin: 10px;
  }
  &-link {
    transition: 2s;
    display: flex;
    justify-content: space-between;

    width: 8vw;
    opacity: 1;
    align-items: center;
    cursor: pointer;
  }
  &-link:hover {
    transition: 1s ease-out;
    filter: invert(15%) sepia(99%) saturate(2822%) hue-rotate(205deg) brightness(98%) contrast(89%);
  }
}

.menu_item-hide {
  display: flex;
  justify-content: center;
  min-width: 100px;
  width: 10vw;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  opacity: 1;
  transition: 0.8s;
  transition-delay: 0.7s;
  &.sign-in {
    background-color: #0799d3;
  }

}

.menu_item-hide:hover {
  transition: 0.8s;
  background-color: #00AF64;
}

.test {
  display: flex;
}