@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3, h2 {
  animation: ease-out 1s ;
  color: dimgray;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8vh;

  &_name, &_description, &_technologies, &_links {
    animation:  ease-out 1.5s  0s 1  slideFromLeft;
  }

  &_goback {
    position: fixed;
    left: 100px;
    top: 100px;
  }

  &_content {
    padding-top: 8vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &_block {
    animation: 1s ease-out 0s 1 slideFromTop;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 270px;
    background-color: #eaeaea;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.2);
    border-radius: 10px;

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    &-img {
      animation: 1.5s ease-in 0s 1 slideFromTop;
      border-radius: 10px;
      padding: 5px;
      margin-right: 20px;
      img {
        width: 30vw;
        border-radius: 10px;
      }
    }
  }

  &_links {

    display: flex;
    flex-direction: column;
  }

  &_link {
    color: #4284D3;
    width: 100px;
    margin-top: 15px;
    font-weight: 800;
    transition: ease-out .5s;
  }

  &_link:hover {
    color: #00AF64;
    font-weight: 800;
    transition: ease-out .5s;
  }
}

