@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromTop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h3, h2 {
  animation: ease-out 1s ;
  color: dimgray;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8vh;

  &_name, &_description, &_technologies, &_links {
    animation:  ease-out 1.5s  0s 1  slideFromLeft;
  }

  &_goback {
    position: fixed;
    left: 100px;
    top: 100px;
  }

  &_content {
    padding-top: 5vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &_block {
    animation: 1s ease-out 0s 1 slideFromTop;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 270px;
    width: 270px;
    background-color: #eaeaea;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 25px -1px rgba(0,0,0,0.2);
    border-radius: 10px;

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 10px;
    }
    &-img {
      border-radius: 10px;
      padding: 5px;
      height: 210px;
      img {
        width: 260px;
        border-radius: 10px;
      }
    }

    &-button {
      width: 80px;
      height: 40px;
      font-size: 12px;
      color: #fff;
      background-color: #0799d3;
      transition: .5s ease-in;
      border: none;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 10px -2px rgba(7,153,211,1);
      box-shadow: 0px 0px 10px -2px rgba(7,153,211,1);
    }
    &-button:hover {
      background-color: #00AF64;
      transition: .5s ease-in;
      -webkit-box-shadow: 0px 0px 25px -1px rgba(0,175,100,1);
      box-shadow: 0px 0px 10px -2px rgba(0,175,100,1);


    }
  }

  &_image {
    animation: 1.5s ease-out 0s 1 slideFromTop;
    min-width: 400px;
    width: 45vw;
    border-radius: 15px;
    margin-right: 5vw;
  }


  &_links {

    display: flex;
    flex-direction: column;
  }

  &_link {
    color: #4284D3;
    width: 100px;
    margin-top: 15px;
    font-weight: 800;
    transition: ease-out .5s;
  }

  &_link:hover {
    color: #00AF64;
    font-weight: 800;
    transition: ease-out .5s;
  }
}


.project {
  &_container {
    display: flex;
    margin: 100px;
    flex-wrap: wrap;

  }

  &_add {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 500px;
    &-button {
      border: none;
      border-radius: 10px;
      height: 30px;
      width: 60px;
      background-color: #00AF64;
      cursor: pointer;
    }
  }

  &_input {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin: 5px;
    align-items: center;
    input {
      border-radius: 10px;
      border: 1px solid #0799d3;
      width: 200px;
      height: 30px;
    }
  }

  &_table {
    border: 2px solid #0799d3;
    border-radius: 15px;
    margin-right: 200px;
    padding: 10px;

    &-row {
      width: 500px;
      display: flex;
      align-items: center;
    }
    &-name {
      width: 150px;
    }
    &-id {
      width: 300px;
    }
    &-button {
      width: 50px;
      border-radius: 10px;
      margin: 2px;
      background-color: lightcoral;
      height: 30px;
      cursor: pointer;
      text-align: center;
      justify-content: center;
      align-items: center;
      border: none;
    }
  }
}