@keyframes ShowBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}

.signin {
  animation: 1.5s ease-out 0s 1 ShowBlock;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;

  &_inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 40px 20px;
    margin: 20px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.2);
    background-color: #eaeaea;;

    &-input {
      transition: 0.3s ease-out;
      margin-bottom: 20px;
      min-width: 200px;
      width: 20vw;
      padding: 10px;
      border-radius: 15px;
      border: 2px solid #0799d3;
      text-align: center;
      outline: none;
      font-size: 15px;
      color: dimgrey;
      font-bold: 1000;
      &.error {
        border: 2px solid lightcoral;
      }
    }

    &-input:focus {
      transition: 0.6s ease-in;
      border: 2px solid #00AF64;
    }

    &-button {
      transition: 0.6s ease-out;
      display: flex;
      justify-content: center;
      min-width: 100px;
      width: 10vw;
      margin-top: 10px;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      opacity: 1;
      transition: 0.8s;
      transition-delay: 0.7s;
      border: none;
      background-color: #0799d3;
      color: #FFFFFF;
      font-bold: 800;
    }

    &-button:hover {
      transition: .6s ease-in;
      background-color: #00AF64;
      color: #0070f3;
    }
  }

}

.signin_img {
  animation: 1.5s ease-out 0s 1 ShowBlock;
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 100px;
  z-index: -1;
}

.response_ok {
  opacity: 0;
  padding: 5px;
  margin-bottom: 10px;
}

.response_error {
  animation: 1.5s ease-out 0s 1 ShowBlock;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: lightcoral;
}